body {
    height: 50vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0px;
    padding: 0px;
}

.viagens {
    height: fit-content;
    width: auto;
    padding: 16px;
    margin: 0px;
}

.opcoes-viagens {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0 16px 0;
}

.opcoes-viagens input {
    width: 60%;
    height: 30px;
    border-radius: 8px;
    border: 1px solid rgb(117, 117, 117);
    padding: 10px;
}

.opcoes-viagens button {
    width: 30%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgb(117, 117, 117);
    padding: 10px;
    word-wrap: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.opcoes-viagens button.adicionar {
    cursor: pointer;
    background-color: rgb(186, 255, 203);
    color: rgb(0, 0, 0);
    border: 1px solid green;
}

.opcoes-viagens button.adicionar:hover {
    background-color: rgb(38, 139, 64);
    color: white;
}

.opcoes-viagens button.fechar-inputs {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.801);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(110, 0, 0);
}

.opcoes-viagens button.fechar-inputs:hover {
    background-color: rgb(255, 179, 179);
    color: rgb(0, 0, 0);
}

.flashes .error{
    background-color: rgb(255, 168, 168);
    border: 1px solid red;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
}

.flashes .success{
    background-color: rgb(196, 255, 168);
    border: 1px solid rgb(43, 255, 0);
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
}

.cadastrar-viagem{
    height: 0;
    border-radius: 8px;
    background-color: rgba(225, 255, 225, 0.658);
    margin-bottom: 16px;
    padding: 0 12px 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    transition: 1s;
    border: 1px solid rgb(160, 160, 160);
}

.cadastrar-viagem.active{
    height: 340px;
    padding: 12px;
    border: 1px solid rgb(39, 53, 25);
}

.cadastrar-viagem .left{
    gap: 12px;
    display: flex;
    flex-direction: column;
    width: 48%;
    height: auto;
}

.cadastrar-viagem .left .dates{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.cadastrar-viagem .right{
    gap: 12px;
    display: flex;
    flex-direction: column;
    width: 48%;
    height: auto;
}

.cadastrar-viagem input, textarea, select{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid grey;
    padding: 12px 8px 12px 8px;
    border-radius: 8px;
}

.cadastrar-viagem button {
    padding: 16px;
    cursor: pointer;
    background-color: rgb(186, 255, 203);
    color: rgb(0, 0, 0);
    border: 1px solid green;
    border-radius: 8px;
}

.cadastrar-viagem button:hover{
    background-color: rgb(38, 139, 64);
    color: white;
}

.tabela-viagens {
    height: fit-content;
    max-width: 100%;
    white-space: nowrap;
    padding: 0px;
}

.tabela-viagens table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(163, 163, 163);
}

.tabela-viagens th {
    border-bottom: 1px solid rgb(163, 163, 163);
    font-weight: normal;
    background-color: rgb(241, 241, 241);
    padding: 10px 0px 10px 8px;
    text-align: left;
}

.tabela-viagens td {
    border-bottom: 1px solid rgb(163, 163, 163);
    padding: 10px 0px 10px 8px;
    text-align: left;
}

.tabela-viagens tr a{
    color: rgb(0, 18, 32);
    text-decoration: none;
}   

.tabela-viagens tr:hover{
    color: rgb(0, 18, 32);
    background-color: rgb(241, 241, 241);
    text-decoration: underline;
}

.tabela-viagens td button {
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background: none;
}

.tabela-viagens td button:hover {
    background-color: rgb(214, 214, 214);

}

.tabela-viagens td .nome {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}